link(rel='stylesheet', type="text/css",href='/css/style.css')

.row
  .col-xs-2.col-sm-2.col-sm-offset-1
    a(href='/explore')
      p.glyphicon.glyphicon-globe.icon

  .col-xs-6.col-sm-6
    .row
      .col-sm-2.col-xs-2
          a(href='/home')
            p.glyphicon.glyphicon-home.icon

      .col-sm-2.col-xs-2
          a(href='/subscription')
            p.navitem.glyphicon.glyphicon-eye-open.icon

      .col-sm-2.col-xs-2
          a(href='/editor')
            p.navitem.glyphicon.glyphicon-text-background.icon

      .col-sm-2.col-xs-2
           a(href='/bookmark')
            p.glyphicon.glyphicon-bookmark.icon
  .col-xs-1.col-sm-1
    a(href='/account')
      p.glyphicon.glyphicon-user.icon
  .col-xs-1.col-sm-2
    a(href='/logout')
      p.glyphicon.glyphicon-off.icon