.propichome{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 15px;
  margin-top: 15px;
}

.profile{
  padding:10px;
  width: auto;
  font-family: 'Inconsolata', sans-sanrif;
  font-size: 12px;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
  margin-left: 10px;

}


ul{
  list-style: none;
  margin-top: 10px;
  padding-left: 0px;

}

.quotesimg{
  width:100%;
  margin-top: 10px;
  padding: 2px;

}



blockquote{
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

.explore_quote{
   margin-left: 0px;
}

.propicshow{
  width:100%;
  height:;
  border-radius: 50%;
  margin:10px 10px 10px 10px;
}

.tags, .spanstyle{
  background-color: black;
  font-size: 10px;
  color: white;
  width: auto;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-left:15px;
  margin-top: 5px;

}

.date{
  float:right;
  font-family:'Inconsolata', sans-sanrif;;
  font-style: italic;
}

.trash{
  float: right;
}

p{
  margin-left: 15px;
  font-size: 12px;
  font-family: 'Merriweather', sanrif;
}

.glyphicon{
  margin-top: 10px;
  font-size: 20px;
}


#showimg{
   position: relative;
}

.bookmark_explore{
  margin-top: 5px;
  font-size: 12px;
}

.quotesimgfeed:hover{
  background-color:  black;
  cursor: pointer;
}

.closex{
  float: right;
  margin-right: 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: "arial black", sans-sanrif;
}

.username{
  font-size: 16px;

}

.imgfitcol{
  width:100%;
}

.bookmarked{
  color: green;
}

#followbutton, #followbutton:hover{
  background-color: black;
  border: none;
  color: white;
}

.nopost{
  padding: 10px 10px 10px 10px;
  background-color: #E7E7E7;
  color: white;
  font-size: 36px;
  font-family: 'Inconsolata', sans-sanrif;
  text-transform: uppercase;
}