img{
  height:100%;
}

input{
  border-radius: 10px;
  margin-top: 5px;
}

.propic {
  border-radius: 50px;
  height:30px;
  width:auto;
}

.icon{
  width:100%;
  color: black;
}

.icon:hover{
  color: #91CED7 ;
}



.nav{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ECF0F1;
}


